:root {
  /* Colors: */
  --background-color: #F8F8F8;
  --text-color: #313540;  
  --unnamed-color-707070: rgba(112, 112, 112,0.3);
  --unnamed-color-e9b741: #E9B741;
  --unnamed-color-44444c: #44444C;
  --unnamed-color-e5cd6b: #E5CD6B;
  --main-gold-color: #D9AF27;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-585a5e: #585A5E;
  --unnamed-color-656875: #656875;

}

body {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

.app-container {
    max-width: 1920px;
    justify-content: center;
    margin: auto;
    text-align: center;


}

/* NAVBAR*/
.navbar-container {
  background-color: var(--background-color);
  max-width: 1366px;
  display: flex;
  /* justify-content: space-between; */
  height: 82px;
  align-items: center;
  margin: 0 auto;

}
.navbar-logo {
  /* height: 33px; */
  margin-right: 76.76px;
}


.navbar-search {
  display: flex;
  align-items: center;
  width: 369.5px;
  border-bottom: 1px solid var(--text-color);
  background-color: var(--background-color);
}

.navbar-search input{
    border: none;
    width: 100%;
    font-family: 'Open Sans';
    font-size: 16px;
    background-color: var(--background-color);
}

.navbar-search input:focus {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}


.navbar-category {
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
  margin-left: 83px;
  width: 520px;
  padding: 0;
  justify-content: space-between;
  color: var(--text-color);

}


.navbar-rightmenu {
  display: flex;
  list-style: none;
  margin-left:auto;
}

.navbar-rightmenu li:nth-child(2){
  padding-left: 23.63px;
}

/* NAVBAR END*/

/* HOMEPAGE SHOWCASE */
 .showcase-container {
  width: 100%;
  max-height: 688px;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */


}

.image-container {
  height: 100%;
  /* border: 1px solid green;  */
  /* background-color:rgba(112, 112, 112,0.3); */
  overflow: hidden;
}

.showcase-container img {
  width: 100%;
  z-index: -1;
  position: relative;
  bottom: 80px;

  
}

.content {
  z-index: 2;
  width: 1366px;

  text-align: center;
  margin: 0 auto;
  position: relative;
  top: -78%;
  height: auto;
}
.content h1{
  font-family: 'Montserrat';
  font-size: 40px;
  padding: 0;
  margin-top: -3px;
}
.content p {
  margin-top: 10px;
  padding-bottom: 30px;
  font-weight: bold;
}

.content a {
  text-decoration: none;
  color: var(--text-color);
  border: 3px solid var(--main-gold-color);
  /* width: 249px; */
  margin: 0 auto;
  padding: 18px 80px;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: bold;
  margin-top: 20px;
}

.content a:hover {
  color: var(--background-color);
  background-color: var(--main-gold-color);
  transition: 0.3s;
} */
/* HOMEPAGE SHOWCASE END */

/* NEW IN STORE */
.newinStore-container {
  width: 1366px;
  margin: 0 auto;

  z-index: 3;
}

.newinStore-container h1 {
    font-family: 'Montserrat';
    text-align: center;
    font-weight: normal;
    font-size: 24px;
}

.productCard-container {
  display: flex;
}

.arrowLeft {
  width: 14.06px;
  height: 21.66px;
  align-self: center;
  padding-right: 7.44px;
}

.arrowRight {
  width: 14.06px;
  height: 21.66px;
  transform: rotate(180deg);
  margin-left: auto;
  align-self: center;
  padding-left: 7.44px;
}

.productCards {
    display: grid;
    flex: 1;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 21px;
    align-items: center;
}

.card {
  content: "";
  height: 20px;
  width: 314px;

  height: 355px;
}

.card-image {
  height: 232px;
  width: 100%;
  overflow: hidden;
}

.card-image img {
  height: 100%;
}
/* NEW IN STORE END*/