:root {
  /* Colors: */
  --background-color: #F8F8F8;
  --text-color: #313540;  
  --unnamed-color-707070: rgba(112, 112, 112,0.3);
  --unnamed-color-e9b741: #E9B741;
  --unnamed-color-44444c: #44444C;
  --unnamed-color-e5cd6b: #E5CD6B;
  --main-gold-color: #D9AF27;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-585a5e: #585A5E;
  --unnamed-color-656875: #656875;
}


/* * {
  border: solid 1px red;
} */

body {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

p {
  font-family: 'Open Sans';
}
 
a {
  text-decoration: none;
  color: var(--text-color);
}
 
a:visted {
  text-decoration: none;
  color: var(--main-gold-color);
}
 
a:hover {
  text-decoration: none;
  color: var(--main-gold-color);
}
 
.app-container {
  max-width: 1920px;
  margin: 0 auto;
 
} 

li {
    list-style-type: none;
}




    
/* PRODUCT DISPLAY */
.productDisplay-container {
  max-width: 1366px;
  margin: 66px auto;
}
    
.productDisplay-container h1 {
  font-family: 'Montserrat';
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 37px;
}
    
.productCard-container {
  display: flex;
  align-items: center;
}
    
.arrowLeft {
  padding-right: 7.44px;
}
    
.arrowRight {
  transform: rotate(180deg);
  margin-left: 7.44px;
}
    
.productCards {
  display: flex;
  grid-column-gap: 21px;
}
    
.card {
  max-width: 314px;
  text-align: center;
  height: 355px;
  background-color: inherit;
  justify-self: center;
}

.productCards .card:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
    
.card-image {
  height: 232px;
  width: 100%;
  overflow: hidden;
}
    
.card-image img {
  height: 100%;
}
    
    
.card p:nth-child(2) {
  padding: 0;
  margin: 13px;
  font-weight: bold;
}
    
.colorCircle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
    
.colorCircle {
  width: 22.06px;
  height: 22.06px;
  content: "";
  background-color: red;
  border-radius: 50%;
  margin: 0 3.5px;  
}
/* PRODUCT DISPLAY END*/


/* MEDIA QUERY */
@media only screen and (max-width: 1365px) {
  .productCard-container {
    margin: 0 auto;
    justify-content: center;
  }

  .productCards {
    justify-content: center;
    text-align: center;
    align-items: center;   
  }

  .productCards .card:nth-child(4){
    display: none;
  }
}

@media only screen and (max-width: 1032px){
  .productCards .card:nth-child(3){
    display: none;
  }
}


@media only screen and (max-width: 713px){
  .productDisplay-container {
    margin: 10px auto;
    margin-bottom: 40px;
  }
      

  .productCards .card:nth-child(2){
    display: none;
  }

  .productCards {

    transform: scale(1.1);
  }

  .productCards .card:hover {
    transform: none;
  }

  .arrowLeft {
    margin-right: 15px;
  }
      
  .arrowRight {
    margin-left: 22px;
  }
}

@media only screen and (max-width: 375px){
  .productCards {

    transform: scale(1);
  }
  .arrowLeft {
    margin-right: 2px;
  }
      
  .arrowRight {
    margin-left: 7px;
  }
}